<link rel="stylesheet" href="/css/others.css" />
<div class="page">
    <form class="set-display-name" action="/me" method="post">
        <label for="display_name"
            >What Should We Call You?<span
                >(This will be shared to others)</span> :
        </label>
        <input type="text" name="display_name" class="display_name" />
        <button type="submit">Confirm!</button>
    </form>
</div>
