

.cover-image {
    width: 200px;
    height: 300px;
    border: 1px solid black;
    border-radius: inherit;
}

.info-card {
    display: flex;
    padding: 30px;
    background-color: var(--primary-button-color);
    border-radius: 12px;
    gap: 20px;
    width: 100%;
}

.cage {
    border-radius: inherit;
    box-sizing: border-box;
    height: fit-content;
    padding: 20px;
    background-color: var(--primary-button-color-light);
    max-width: max-content;
}

.description {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.description > p {
    font-size: 24px;
}

.rate {
    font-family: FontAwesome;
    margin-top: 20px;
}

.rate i{
    color: gold;
}

.rate p{
    font-size: 24px;
}

.info-card>form>p:first-child{
    font-size: 36px;
    display: block;
    margin-bottom: 10px;
}

.info-card.chapters {
    gap: 0px;
    flex-direction: column;
}

.info-card.chapters .seprater{
    width: 100%;
    margin: none;
    background-color: var(--secondary-color);
}

.chapter-name{
    font-size: 18px;
    letter-spacing:1px;
    padding: 10px;
}

.chapter-name button{
    background-color: transparent;
}

.chapter-name:hover{
    color: white;

}

button.chapter{
    background-color: transparent;
    border: none;
}

.info-card.comments{
    flex-direction: column;
}

.comments .profile img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline;
}

.comment{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: auto;
    align-items:normal;
}

.commentor {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: baseline;
}

.commentor .commentor-name{
    font-weight: normal;
    font-size: 24px;
}

.commentor .ago {
    font-size: 16px;
    font-weight: lighter;
    color: black;
    
}

.comment-message {
    font-size: 16px;

}

.comment-message.cage{
    padding: 6px 10px;
    max-width: 100%;
    text-align: wrap;
    word-wrap: break-word;
}

.comment-wrapper{
    width: 100% ;
}

.inverted{
    transform: rotateY(180deg);
}

.star {
    display: inline-block;
    width: auto;
    height: 100px;
}

.star input {
    visibility: hidden;
}

.star label {
    font-size: 3em;
    cursor: pointer;
    color: rgb(233, 214, 108);
}

.star{
    cursor: pointer;
}


label.checked {
    color: gold;
}



.stars {
    width: max-content;
    margin: 20px auto;
    height: 50px;
    display: flex;
    gap: 0px;
}


.write-comment img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.write-comment{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.write-comment input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    transition: border-width 0.2s linear;
    width: 95%;
    font-size: 20px;
    padding: 2px 5px;

}

.write-comment input::placeholder {
    color: rgb(212, 212, 212);
}

.write-comment input:focus::placeholder{
    color: transparent;
}

.write-comment input:focus-visible{
    outline: none;
    transition: border-width 0.2s linear;
    border-width: 2px;
}

.write-comment div{
    width: 95%;
}

.write-comment img{
    cursor: pointer;
}

.write-comment button{
    background-color: transparent;
    border: none;
}

.hidden{
    display: none;
}

.note{
    font-size: 24px;
}

.arrow{
    /* margin-top: 10px; */
    transform: rotateY(180deg);
}